*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background: url("../assets/java-tutorial-coding-rock-paper-scissors.webp") no-repeat center center / cover;
    height: 100vh;
    backdrop-filter: blur(10px);
    margin: 0;
}

.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.pc_player{
    display: flex;
    justify-content: center;
}
.pc_player_img{
    width: 30%;
    border-radius: 50%;
    border: 10px solid #00f;
}
.result{
    margin: 30px 0;
    height: 70px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    border-radius: 10px;
    border: 3px solid #000;
}
.play{
    padding: 10px 30px;
    background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
    border: none;
    border-radius: 5px;
    font-size: 20px;
}
.winner{
    font-size: 22px;
}
.play:active{
    transform: scale(0.90);
}
.player{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.player__img{
    width: 30%;
    border-radius: 50%;
    transform: rotate(-180deg);
    border: 10px solid rgb(2, 158, 2);
}

.dicrement,
.increment{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #0f0;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    font-size: 20px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(32, 190, 0);
    color: #fff;
}

.dicrement:active,
.increment:active{
    transform: scale(0.95);
}